In [1]:
import pandas as pd
import numpy as np

In [5]:
temps = pd.read_csv("../data/nyc-temps.txt", header=None).squeeze().astype(np.float64)
df = pd.DataFrame(
    {"temp": temps, "hour": [0, 3, 6, 9, 12, 15, 18, 21] * (temps.count() // 8) + [0]}
)

# set negative temp values to 0
df.loc[df["temp"] < 0, "temp"] = 0

# Extension questions
1. Set all the odd temperatures to the mean of all the temperatures.
2. Set the even temperatures at hours 9 and 18 to 3.
3. If the hour is odd, set the temperature to 5.

In [7]:
temps = pd.read_csv("../data/nyc-temps.txt", header=None).squeeze().astype(np.float64)
df = pd.DataFrame(
    {"temp": temps, "hour": [0, 3, 6, 9, 12, 15, 18, 21] * (temps.count() // 8) + [0]}
)

# 1. All odd tempeatures to the mean of all temperatures
df.loc[df["temp"] % 2 == 1, "temp"] = df["temp"].mean()
df.describe()

             temp        hour
count  729.000000  729.000000
mean    -1.187229   10.485597
std      3.821648    6.884855
min    -14.000000    0.000000
25%     -1.050754    3.000000
50%     -1.050754    9.000000
75%      0.000000   15.000000
max     12.000000   21.000000

In [10]:
temps = pd.read_csv("../data/nyc-temps.txt", header=None).squeeze().astype(np.float64)
df = pd.DataFrame(
    {"temp": temps, "hour": [0, 3, 6, 9, 12, 15, 18, 21] * (temps.count() // 8) + [0]}
)
# 2. Set the even temperatures at hours 9 and 18 to 3
df.loc[(df["temp"] % 2 == 0) & df["hour"].isin([9, 18]), "temp"] = 3
df.describe()

             temp        hour
count  729.000000  729.000000
mean    -0.537723   10.485597
std      4.821998    6.884855
min    -14.000000    0.000000
25%     -3.000000    3.000000
50%      0.000000    9.000000
75%      3.000000   15.000000
max     12.000000   21.000000

In [11]:
temps = pd.read_csv("../data/nyc-temps.txt", header=None).squeeze().astype(np.float64)
df = pd.DataFrame(
    {"temp": temps, "hour": [0, 3, 6, 9, 12, 15, 18, 21] * (temps.count() // 8) + [0]}
)

# 3. If the hour is odd, set the temperature to 5
df.loc[df["hour"] % 2 == 1, "temp"] = 5
df.describe()

             temp        hour
count  729.000000  729.000000
mean     1.972565   10.485597
std      4.666259    6.884855
min    -14.000000    0.000000
25%      0.000000    3.000000
50%      5.000000    9.000000
75%      5.000000   15.000000
max     12.000000   21.000000